<div class="container-fluid">
  <div class="card my-4">
    <div class="card-header">
    <h1 class="titulo">CONSULTA DE SERVICIOS MOVIIRED</h1>
    </div>
    <div class="card-body">
      <p class="card-text txt-cuerpo">A continuación seleccione el servicio y rango de fechas</p>
      
      <!-- Formulario de búsqueda -->
      <form method="POST" target="#">
        <div class="row">

          <div class="col-4 form-group">
            <select formControlName="servicio" class="form-control" name="servicio" id="servicio" required>
                <option>Seleccione servicio</option>
                <option *ngFor="let servicio of servicios" [ngValue]="servicio.code">{{servicio.name}} -[{{servicio.code}}]</option>
            </select>
          </div>

          <div class="col-4 text-center">
            <input name="fechaInicio" class="date form-control" type="date" placeholder="Ingresar fecha inicial" required>
          </div>

          <div class="col-4 text-center">
            <input name="fechaFin" class="date form-control" type="date" placeholder="Ingresar fecha final" required>
          </div>

          <div class="col-12 text-center py-4">              
            <button class="btn btn-primary w-100">REALIZAR CONSULTA</button>
          </div>
        </div>        
      </form>
    </div>
  </div>

  <!-- Sección de filtros -->
  <mat-paginator class="txt-rosa" [length]="resultado.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)"></mat-paginator>

      <!-- Tabla de contenido. -->
      <table class="table table-hover mx-1">
        <thead class="titulo">
          <tr class="text-uppercase card-header">
            <th scope="col">authorizationNumber</th>
            <th scope="col">commission</th>
            <th scope="col">from</th>
            <th scope="col">gestorId</th>
            <th scope="col">manager</th>
            <th scope="col">name</th>
            <th scope="col">nameDetail</th>
            <th scope="col">productCode</th>
            <th scope="col">referenceNumber</th>
            <th scope="col">remarks</th>
            <th scope="col">serviceSubType</th>
            <th scope="col">serviceType</th>
            <th scope="col">source</th>
            <th scope="col">transactionDate</th>
            <th scope="col">transferId</th>
            <th scope="col">transferStatus</th>
            <th scope="col">transferValue</th>
            <th scope="col">txntType</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let obj of resultado | paginate: page_size:page_number" class="txt-cuerpo">
              <!--td *ngFor="let item of obj | keyvalue">{{ item.key }}: {{ item.value }}</td-->
              <td *ngFor="let item of obj | keyvalue">{{ item.value }}</td>
            </tr>
        </tbody>
      </table>
</div>