/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.titulo { 
    color: #0d2e4f; 
    font-weight: bold;
}
.txt-cuerpo { 
    color: #0d2e4f; 
}
.txt-rosa { 
    color: #e52a8c; 
}
